<div>
  <h2>Pools</h2>
  <div style= "text-align:left">
    <md-button ng-click = "addPool()" style="height:50px;width:100px; background-color: yellow"> Add Pool</md-button>
  </div>

  <table border= 5 WIDTH="100%"   CELLPADDING="4" CELLSPACING="3" >

    <md-list-item>
      <th width= 5% > </th>
      <th width= 40%> Name </th>
      <th width= 10% > Status </th>
      <th width= 10% > </th>
    </tr>

    <tr ng-repeat= "pool in pools track by $index">
      <td>
        <md-button class="md-primary" ng-click="editPool(pool.id)"> Edit Pool</md-button>
      </td>
      <td style="text-align:center">
        {{pool.name}} 
      </td>
      <td style="text-align:center">
        {{pool.status}} 
      </td>
      <td style= "text-align:center">
        <a href="" ng-click="goToPool(pool.id)">See Details</a>
      </td>
    </tr>
  </table>
</div>