<div ng-init="filterToPool()">  

  <h2> Update Pool:</h2>

  <img src="{{pool.image}}">

  <form>
    <input ng-model="pool.name" type="text" placeholder="{{pool.name}}"/>
    <input ng-model="pool.image" type="text" placeholder="{{pool.image}}"></input>
    <md-button ng-click="editPool()" style="background-color: yellow"> Update Pool</md-button>
    <md-button ng-click="deletePool()" style="margin-left: 50px;background-color: red"> Delete</md-button>
    <br>
    <br>
    <md-button ng-click="toPools()" style="height:50px;width:100px; background-color: grey"> Back</md-button>
  </form>

  <div style= "text-align:center">
  </div>
</div>