<div ng-init="filterToPool()">
<img src="{{pool.image}}">

<h2> {{pool.name}} </h2>

<text ng-repeat="user in users track by $index"> {{user.name}}</text>

<h3> Total amount owed: {{pool.total}} </h3>

<md-button ng-click = "toAddExpense()" style="height:50px; background-color: yellow"> Add Expense</md-button>
<br>
<br>

<table border= 5 WIDTH="100%"   CELLPADDING="4" CELLSPACING="3" >

	<tr>
	<th width= 5% > </th>
	<th width= 40%> Expense </th>
	<th width= 5% > Amount </th>
	</tr>

	<tr ng-repeat= "expense in expenses track by $index">
	<td>
		<md-button ng-click="toEditExpense(expense.id)" class="md-primary"> Edit Expense</md-button>
	</td>

	<td style="text-align:center">
		{{expense.name}} 
	</td>

	<td style="text-align:center">
		{{expense.amount}} 
	</td>
	</tr>

</table>
<div style= "text-align:center">
</div>
<br>
<a ui-sref= 'poolsState'> Back To Pools</a>

</div>


