<div ng-init="filterToPool()">
<img src="{{pool.image}}">
<h2> {{pool.name}} </h2>
<text ng-repeat="user in users track by $index"> {{user.name}}</text>

<h3> Total amount owed: {{pool.total}} </h3>

<button ng-click = "toAddExpense()" style="height:50px;width:100px; background-color: yellow"> Add Expense</button>
<br>
<br>

<table border= 5 WIDTH="100%"   CELLPADDING="4" CELLSPACING="3" >

	<tr>
	<th width= 5% > </th>
	<th width= 40%> Expense </th>
	<th width= 5% > Amount </th>
	</tr>

	<tr ng-repeat= "expense in expenses track by $index">
	<td>
		<button ng-click="toEditExpense(expense.id)"> Edit Expense</button>
	</td>

	<td>
		{{expense.name}} 
	</td>

	<td>
		{{expense.amount}} 
	</td>
	</tr>

</table>
<div style= "text-align:center">
</div>
<br>
<a ui-sref= 'poolsState'> To Pools</a>

</div>


