<div ng-init= "fetchExpense()">
  

<h2> Update Expense:</h2>


<form>
  <input ng-model="expense.name" type="text" placeholder="{{expense.name}}" />
  <input ng-model="expense.amount" type="text" placeholder="{{expense.amount}}" />
  <md-button ng-click="editExpense(expense)" style="background-color: yellow"> Edit Expense</md-button>
  <md-button ng-click="deleteExpense()" style="margin-left: 50px; background-color: red"> Delete</md-button>
  <br>
  <br>
  <md-button ng-click="toPool()" style="height:50px;background-color: grey"> Back</md-button>
</form>



<div style= "text-align:center">
</div>
</div>