main .icons {
  margin-top: 4px;
  color: #4f5b66;
}

main .marketing {
  text-align: center;
  background: #eff1f5;
}

main .marketing h1 {
  letter-spacing: -2px;
  margin: 0;
  color: #a3be8c;
}

main .marketing h4 {
  font-weight: 200;
  color: #4f5b66;
  margin: 4px;
}
