pools {
  text-align: center;
}

pools .actions button {
  width: 200px;
}

pools .expense-pool-list,
pools .expense-list {
  text-align: left;
  width: 100%;
  max-width: 90%;
}

pools h2 {
  font-weight: 200;
  color: #4f5b66;
  margin: 10px;
}

pools .md-chips .md-chip,
pools .md-chips:not(.md-readonly) {
  cursor: pointer;
}

.members-list {
  width: 100%;
  max-width: 90%;
}

.members-list .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px;
}

.members-list .contact-item {
  box-sizing: border-box;
}

.members-list .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px;
}

.members-list .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important;
}

.members-list .contact-item .md-list-item-text h3, .members-list .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 960px) {
  .members-list .contact-item {
    float: left;
    width: 33%;
  }
}

.members-list md-contact-chips {
  margin-bottom: 10px;
}

.members-list .md-chips {
  padding: 5px 0 8px;
}

.members-list .fixedRows {
  height: 250px;
}

.expense-list .md-contact-chips .md-chips .md-chip {
  padding: 0;
}
