<md-dialog aria-label="Add Expense" class="expense-dialog" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add an expense</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="md-24">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="content-container">
    <div flex layout="column" layout-padding>
      <md-input-container>
        <label>Expense name</label>
        <input ng-model="name" required>
      </md-input-container>
      <md-input-container>
        <label>Amount</label>
        <input type="number" placeholder="Amount" ng-model="amount" ng-pattern="currencyRegex" step="0.01" required>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="submit()" ng-disabled="!isValid()">
      Submit
    </md-button>
  </md-dialog-actions>
</md-dialog>
