login {
  text-align: center;
}

login .icons {
  margin-top: 4px;
  color: #4f5b66;
}

login h4 {
  font-weight: 200;
  color: #4f5b66;
  margin: 4px;
}

login *:focus {
  outline: none;
}

login .social-buttons {
  height: 60px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

login .social-buttons * {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
}

/* http://www.bypeople.com/css-material-design-social-buttons/ */
login .social-button {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
login .social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  transform: rotate(45deg);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
login .social-button .fa {
  font-size: 28px;
  vertical-align: middle;
  transform: scale(0.8);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
login .social-button.facebook:before {
  background-color: #3B5998;
}
login .social-button.facebook .fa {
  color: #3B5998;
}
login .social-button:hover:before {
  top: -10%;
  left: -10%;
}
login .social-button:hover .fa {
  color: #fff;
  transform: scale(1);
}
login .social-button:focus {
  opacity: .85;
}
