<div ng-init="filterToPool()">
<h2> Sample Pool: Snack Party </h2>


<h3> Total amount owed for pool </h3>


<table border= 5 WIDTH="100%"   CELLPADDING="4" CELLSPACING="3" >

	<tr>
	<th width= 5% > </th>
	<th width= 40%> Expense </th>
	<th width= 5% > Amount Owed </th>
	<th width= 5% > Participated? </th>
	</tr>

	<tr ng-repeat= "item in expenses track by $index">
	<td>
		<button> Edit Expense</button>
	</td>

	<td>
		{{item.name}} 
	</td>

	<td>
		{{item.amount}} 
	</td>

	<td>
		<div style= "text-align:center">
		<button ng-click= "participateClick(item.participated, $index)" style= "background-color:grey"> 
		{{item.participated}} </button>
		</div>
	</td>
	</tr>

</table>
<br>
<div style= "text-align:center">
<button ng-click = "toAddExpense()" style="height:50px;width:100px; background-color: yellow"> Add Expense</button>
</div>
</div>

