<div>
  

<h2> New Expense:</h2>


<form>
  <input ng-model="expense.description" type="text" placeholder="Describe the expense" />
  <input ng-model="expense.amount" type="text" placeholder="Enter the amount" />
  <br>
  <br>
  <button ng-click="toPool()" style="height:50px;width:100px; background-color: grey"> Back</button>
  <button ng-click="addExpense(expense)" style="height:50px;width:100px; background-color: yellow"> Add Expense</button>
</form>



<div style= "text-align:center">
</div>
</div>